body{
    text-align: left;
    background-image: url(img/faded-office.png);
    background-size: cover;
  
}

.textbox{
    width: 200px;
    
    color: black;
    margin: 40px 0 0 30px;
}

#h1-text{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
#h4-text{
        font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.underline{
    text-decoration: solid underline #0ea5e9 4px ;
    
}
#btn{
   background-color:  #0ea5e9;
   color: white;
   padding: 10px 20px;
   border: 0px ;
}